{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
        },
    },
    "parser": "babel-eslint",
    "extends": "airbnb/base",
    "rules": {
        "generator-star-spacing": 0,
        "semi": 2,
        "no-console": 0
    },
    "env": {
      "browser": true,
      "node": true
    }
}
